# .gitignore

# base modules
node_modules
deprecated

# Temporary files as part of testing and debugging
*.zip
bin/EXP_*.sh
__pycache__

# Files that are generated.
resources/tideGraph.png
resources/windGraph.png
resources/tideGraphic.png
resources/moon*.svg
tideTable.html
forecastGrid.html

env
.env
