# .gitignore

# base modules
node_modules
deprecated

# temporary files as part of testing and debugging
*.zip
__pycache__
*.log

# These are legacy graohing routines that have been replaced.
cgi-bin/windGraphOLD.py
cgi-bin/windGraphPI.py

# files that are generated.
resources/tmp/*.*
