body {
    background-color: MintCream;
}

.shell {
    position: fixed;
    width: 1440px;
    height: 900px;
    /* background-color: rgba(255, 220, 255, 0.5); */
}

.header {
    z-index: 50;
    position: absolute;
    top: 10px;
    left: 20px;
    height: 64px;
    right: 20px;
    background-color: Silver;
}

div.header > #title {
    z-index: 55;
    position: relative;
    font-family: "Trade Winds", cursive;
    font-size: xx-large;
    top: 8px;
    left: 95px;
}

div.header > #logo {
    z-index: 59;
    position: absolute;
    left: 4px;
    width: 82px;
    height: 74px;
    top: 4px;
}

/* Animation rules slide from left */
@keyframes horzontalSlide {
    from {left: -1440px; z-index: 40;} /* start off screen */
    to {left: 0px; z-index: 30;}
}

/* defaults for any screen */
.screen {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 26px;
    animation: horzontalSlide 3s normal;
}


/* Weatherscreen div and contents */
div#weatherScreen {
    display: block;
}

/* place holder. weather screen uses explicit positioning */
div#weatherScreen > .grid {
    position: inherit;
}

#tideGraphBox {
    position: inherit;
    top: 95px;
    left: 15px;
    /* background-color: rgba(255, 255, 255, 0.5); debugging */
}

#tideCartoonBox {
    position: inherit;
    top: 107px;
    left: 700px;
    /* background-color: rgba(255, 255, 255, 0.5); debugging */
}

#tideTableBox {
    position: inherit;
    top: 345px;
    left: 673px;
    /* background-color: rgba(255, 255, 255, 0.5); debugging */
}

iframe#tidetable {
    position: inherit;
    width: fit-content;
    height: fit-content;
    border-width: 0px;
}

#radarBox  {
    position: inherit;
    top: 86px;
    left: 974px;
    width: 448px;
}

#windGraphBox {
    position: inherit;
    top: 483px;
    left: 6px;
}

#forecastBox {
    position: inherit;
    top: 499px;
    left: 734px;
    width: auto;
}

iframe#forecast {
    position: inherit;
    width: 700px;
    height: 380px;
    border-width: 0px;
}

div#yesterday {
    position: inherit;
    z-index: -20;
    top: 280px;
    left: 105px;
}

div#today {
    position: inherit;
    z-index: -20;
    top: 280px;
    left: 312px;
}

div#tomorrow {
    position: inherit;
    z-index: -20;
    top: 280px;
    left: 517px;
}

.phase {
    position: static;
    height: 60px;
    opacity: 90%;
}
/* end Weatherscreen div and contents */

/* BoatResrvations div and contents */
div#boatScreen {
    display: none;
}

div#boatScreen > .grid {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    column-gap: 5px;
    row-gap: 5px;
}

div#dayBoatBox {
    grid-column-start: 1;
    grid-row-start: 1;
    /* background-color: rgb(217, 202, 228); */
}

iframe#dayboat {
    position: relative;
    width: 100%;
    height: 780px;
    border-width: 0px;
    top: 3px;
}

div#ideal18Box {
    grid-column-start: 2;
    grid-row-start: 1;
    /* background-color: rgb(186, 216, 216); */
}

iframe#ideal18 {
    position: relative;
    width: 100%;
    height: 780px;
    border-width: 0px;
    top: 3px;
}

/* BoatResrvations div and contents */
div#boatScreen {
    display: none;
}

div#boatScreen > .grid {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    column-gap: 4px;
    row-gap: 0px;
}

div#dayBoatBox {
    grid-column-start: 1;
    grid-row-start: 1;
    /* background-color: rgb(217, 202, 228); */
}

iframe#dayboat {
    position: relative;
    width: 100%;
    height: 780px;
    border-width: 0px;
    top: 3px;
}

div#ideal18Box {
    grid-column-start: 2;
    grid-row-start: 1;
    /* background-color: rgb(186, 216, 216); */
}

iframe#ideal18 {
    position: relative;
    width: 100%;
    height: 780px;
    border-width: 0px;
    top: 3px;
}

/* BoatResrvations div and contents */
div#porchScreen {
    display: none;
}

div#porchScreen > .grid {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    column-gap: 4px;
    row-gap: 0px;
}

div#day1Box {
    grid-column-start: 1;
    grid-row-start: 1;
    /* background-color: rgb(217, 202, 228); */
}

iframe#day1 {
    position: absolute;
    width: 700px;
    height: 780px;
    border-width: 0px;
    top: 3px;
}

div#day2Box {
    grid-column-start: 2;
    grid-row-start: 1;
    /* background-color: rgb(217, 202, 228); */
}

iframe#day2 {
    position: absolute;
    width: 700px;
    height: 780px;
    border-width: 0px;
    top: 3px;
}

/* Footer for all */
.footer {
    z-index: 50;
    position: absolute; /* Means all measurements are absolute screen */
    bottom: 15px;
    left: 20px;
    right: 20px;
    height: 30px;
    background-color: Silver;
}

div.footer > #ephemeris {
    z-index: 53;
    position: inherit;
    text-align: left;
    font-family: "Trade Winds", cursive;
    font-size: medium;
    text-shadow: 1px 1px 3px rgb(116, 115, 115);
    margin: 0;
    top: 4px;
    left: 80px;
}

div.footer > #clock {
    z-index: 53;
    position: inherit;
    text-align: right;
    font-family: "Trade Winds", cursive;
    font-size: medium;
    text-shadow: 1px 1px 3px rgb(116, 115, 115);
    margin: 0;
    top: 4px;
    right: 80px;
}

div.footer > #network {
    z-index: 51;
    position: inherit;
    text-align: right;
    font-size: medium;
    color: darkgrey;
    top: -11px;
    right: 5px;
}

div.footer > #toast {
    z-index: 51;
    text-align: center;
    font-family: "Courier", monospace;
    color: white;
    font-size: small;
    margin: 0;
    position: absolute;
    top: 8px;
    left: 520px;
    width: 480;

}



/* Decorations */
#dn {
    color: red;
    font-size: large;
    /* font-weight: 800; */
}
#up {
    color: green;
    font-size: large;
    /* font-weight: 800; */
}
