body {
    background-color: MintCream;
}

/*=========================================================
  whole screen, sets the coord system for all the other div
  we could eliminate the outer shell and use a fixed system
  but experiments show that fixed divs can be excluded from
  some animations.  The physical screen is an old Dell 1909Wb
  which has a resolution 1440x900. We reduce the 'paintable'
  area to guarantee that the screen doesn't create scroll bars
  */
.shell {
    position: absolute;
    overflow: hidden;
    /*don't show scroll bars even if we are off screen*/
    width: 1430px;
    height: 890px;
}

/*=========================================================
  Header region
  This stays staic through all other visual changes      */
.header {
    z-index: 50;
    position: absolute;
    top: 0px;
    left: 10px;
    height: 64px;
    right: 10px;
    background-color: Silver;
}

#title {
    z-index: 55;
    position: inherit;
    font-family: "Trade Winds", cursive;
    font-size: xx-large;
    top: 8px;
    left: 95px;
    text-shadow: 3px 3px 4px rgb(61 61 61);
}

#logo {
    z-index: 59;
    position: inherit;
    left: 4px;
    width: 82px;
    height: 74px;
    top: 4px;
}

#version {
    right: 5px;
    bottom: -5px;
    z-index: 53;
    position: inherit;
    text-align: right;
    font-family: sans-serif;
    font-size: x-small;
    color: darkgray;
}

/*=========================================================
  Footer region
  This stays staic through all other visual changes      */
.footer {
    z-index: 50;
    position: absolute;
    /* Means all measurements are absolute screen */
    bottom: 10px;
    left: 10px;
    right: 20px;
    height: 30px;
    background-color: Silver;
}

#ephemeris {
    top: 4px;
    left: 80px;
    z-index: 53;
    position: inherit;
    text-align: left;
    font-family: "Trade Winds", cursive;
    font-size: medium;
    text-shadow: 3px 3px 4px rgb(61 61 61);
    margin: 0;
}

#clock {
    top: 4px;
    right: 80px;
    z-index: 53;
    position: inherit;
    text-align: left;
    font-family: "Trade Winds", cursive;
    font-size: medium;
    text-shadow: 3px 3px 4px rgb(61 61 61);
    margin: 0;
}

#network {
    z-index: 51;
    position: inherit;
    font-family: sans-serif;
    text-align: right;
    font-size: medium;
    color: darkgrey;
    top: -11px;
    right: 5px;
}

#toast {
    z-index: 51;
    text-align: center;
    font-family: "Courier", monospace;
    color: white;
    font-size: small;
    margin: 0;
    position: absolute;
    top: 8px;
    left: 520px;
    width: 480;
}

/*=========================================================
  Animations and Transitions                             */

/* default for any screen in waiting */
.waitScreen {
    position: absolute;
    /* need this or weather panel messes up */
    opacity: 0;
    top: 65px;
    left: -1440px;
    bottom: 47px;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: left;
    /* transition-timing-function: ease-in-out; //Doesn't matter */
}

/* the layout and transition for the current incoming screen */
.enterScreen {
    opacity: 1;
    top: 65px;
    left: 10px;
    bottom: 47px;
    transition-delay: 0s;
    transition-duration: 1.5s;
    transition-property: left, opacity;
    transition-timing-function: cubic-bezier(0.5, 0, 0.75, 0), linear;
}

/* the layout and transition for the current outgoing screen */
.exitScreen {
    opacity: 0.15;
    /* dim it a bit */
    top: 800px;
    left: 1440px;
    bottom: 47px;
    transition-delay: 0s;
    transition-duration: 1.5s;
    transition-property: left, top, opacity;
    transition-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
}

/*=========================================================
  Content area
  The 'swappable' content boxes are called 'screens'. The
  central container gets assigned animation classes to
  control the flow into and out of the zoom area.        */

/* Weatherscreen div its contents */
#weatherScreen {
    display: block;
}

/* tide graph */
#tideGraphBox {
    position: inherit;
    top: 0px;
    left: 0px;
    /* background-color: rgba(255, 255, 255, 0.5); debugging */
}

/* tide graphic */
#tideCartoonBox {
    position: inherit;
    top: 10px;
    left: 675px;
    /* background-color: rgba(255, 255, 255, 0.5); debugging */
}

/* specific key tide points */
#tideTableBox {
    position: inherit;
    top: 220px;
    left: 650px;
    /* background-color: rgba(255, 255, 255, 0.5); debugging */
}

/* iframe with the above data */
iframe#tideTable {
    position: inherit;
    width: fit-content;
    height: fit-content;
    border-width: 0px;
}

/* area radar box */
#radarBox {
    position: inherit;
    top: 0px;
    left: 955px;
    width: 450px;
}

/* wind graph */
#windGraphBox {
    position: inherit;
    top: 390px;
    left: 0px;
}

/* marine forcast table */
#forecastBox {
    position: inherit;
    top: 410px;
    left: 725px;
    width: auto;
}

iframe#forecast {
    position: inherit;
    width: 700px;
    height: 380px;
    border-width: 0px;
}

/* three moon images that show the current phase */
#yesterday {
    top: 200px;
    left: 105px;
}

#today {
    top: 200px;
    left: 312px;
}

div#tomorrow {
    top: 200px;
    left: 517px;
}

.moon {
    position: inherit;
    z-index: -10;
}

.phase {
    height: 60px;
    opacity: 90%;
}

/* end Weatherscreen div and contents */

/* All iFrames on the informational pages */
.importGsheets {
    opacity: inherit;
    position: inherit;
    width: 700px;
    height: 780px;
    border-width: 0px;
    top: 3px;
}

/* BoatResrvations div and contents */
#boatScreen {
    position: inherit;
}

div#dayBoatBox {
    opacity: inherit;
    position: inherit;
    left: 0px;
    width: 700px;
    height: 780px;
    min-height: 780px;
    /* background-image: url("resources/SailingImage.png"); Pi can't handle the update */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div#ideal18Box {
    opacity: inherit;
    position: inherit;
    left: 704px;
    width: 700px;
    height: 780px;
    min-height: 780px;
    background-image: url("resources/SailingImage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* end BoatResrvations div and contents */

/* PorchResrvations div and contents */
div#porchScreen {
    position: inherit;
}

div#day1Box {
    opacity: inherit;
    position: inherit;
    left: 0px;
    width: 700px;
    height: 780px;
    min-height: 780px;
    background-image: url("resources/PorchImage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


div#day2Box {
    opacity: inherit;
    position: inherit;
    left: 704px;
    width: 700px;
    height: 780px;
    min-height: 780px;
    background-image: url("resources/PorchImage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* end PorchResrvations div and contents */

/* Decorations */
#dn {
    color: red;
    font-size: large;
    /* font-weight: 800; */
}

#up {
    color: green;
    font-size: large;
    /* font-weight: 800; */
}
