body {
    background-color: MintCream;
}

.shell {
    position: fixed;
    width: 1440px;
    height: 900px;
    /* background-color: rgba(255, 220, 255, 0.5); */
}

.header {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 64px;
    right: 20px;
    background-color: Silver;
}

div.header > #title {
    position: relative;
    z-index: 0;
    font-family: "Trade Winds", cursive;
    font-size: xx-large;
    top: 8px;
    left: 95px;
}

div.header > #logo {
    position: absolute;
    z-index: 5;
    left: 4px;
    width: 82px;
    height: 74px;
    top: 4px;
}

/* Weatherscreen div and contents */
div#weatherScreen {
    display: block;
}

.import {
    position: fixed;
    width: 100%;
    height: 100%;
    border-width: 0px;
}

div#weatherScreen > .grid {
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 26px;
    /* background-color: rgba(220, 255, 255, 0.5); */
}

#tideGraphBox {
    position: fixed;
    top: 95px;
    left: 15px;
}

#tideCartoonBox {
    position: fixed;
    top: 107px;
    left: 700px;
    /* background-color: rgba(255, 255, 255, 0.5); debugging */
}

#tideTableBox {
    position: fixed;
    top: 300px;
    left: -145px;
    /* background-color: rgba(255, 255, 255, 0.5); debugging */
}

#radarBox  {
    position: fixed;
    z-index: -10;
    top: 86px;
    left: 974px;
    width: 448px;
}

#windGraphBox {
    position: fixed;
    top: 483px;
    left: 6px;
}

#forecastBox {
    position: fixed;
    top: 499px;
    left: 734px;
    width: auto;
}

div#yesterday {
    position: fixed;
    z-index: -20;
    top: 280px;
    left: 105px;
}

div#today {
    position: fixed;
    z-index: -20;
    top: 280px;
    left: 312px;
}

div#tomorrow {
    position: fixed;
    z-index: -20;
    top: 280px;
    left: 517px;
}

div#radarbox {
    position: fixed;
    z-index: -20;
    top:    86px;
    left:  720px;
    width: 431px;
}

.phase {
    position: static;
    height: 60px;
    opacity: 90%;
}
/* end Weatherscreen div and contents */

/* BoatResrvations div and contents */
div#boatScreen {
    display: none;
}

div#boatScreen > .grid {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    column-gap: 5px;
    row-gap: 5px;
}

#dayBoatBox {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    background-color: rgb(217, 202, 228);
}

#ideal18Box {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: rgb(186, 216, 216);
}

/* Footer for all */
.footer {
    position: absolute; /* Means all measurements are absolute screen */
    bottom: 15px;
    left: 20px;
    right: 20px;
    height: 30px;
    background-color: Silver;
}

div.footer > #clock {
    z-index: 10;
    text-align: right;
    font-family: "Trade Winds", cursive;
    font-size: medium;
    text-shadow: 1px 1px 3px rgb(116, 115, 115);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-60%, -50%);
}

div.footer > #toast {
    z-index: 10;
    text-align: center;
    font-family: "Courier", monospace;
    color: white;
    font-size: small;
    margin: 0;
    position: absolute;
    top: 8px;
    left: 520px;

}

div.footer > #ephemeris {
    text-align: left;
    font-family: "Trade Winds", cursive;
    font-size: medium;
    text-shadow: 1px 1px 3px rgb(116, 115, 115);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
}
